header{
    color: white;
    font-size: 2em;
    padding: 3%;
    background: #5D3A8F6B;
    width: auto;
    cursor: default;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header h1 {
    margin-right: 20px;
  }
  

  

nav {
    display: flex;
    justify-content: flex-end;
  }
  
  
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
nav ul li {
    margin-right: 20px;
  }
  
  
nav ul li:last-child {
    margin-right: 0;
  }
  
nav ul li a {
    text-decoration: none;
    color: aliceblue;
   
  }
  
nav ul li a:hover {
    color: #000;
  }
  

body{
    background-image: url("https://i.ibb.co/Mf4MvNL/1170176.jpg");
    background-size: cover;
    background-position: initial;
    font-family: 'Montserrat', sans-serif;
}

main{
    width: auto;
   
}

.counter{
    padding: 10%;
    font-size: 400%;
    color: aliceblue;
    background: #F0F8FF6E;
    text-align: center;
    border-style: none;
    cursor: default;
}

.botones{
    align-items: center;
    display: flex;
    justify-content: center;
}

.sumar1{
    width: 200px;
    padding: 15px 0;
    margin: 10px;
    color: white;
    background-color: rgba(0, 255, 0, 0.219);
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.sumar1:hover{
    background: limegreen;
    transform: scale(1.1);
}

.reset{
    width: 200px;
    padding: 15px 0;
    margin: 10px;
    color: white;
    background-color: rgba(255, 0, 0, 0.205);
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.reset:hover{
    background: red;
    transform: scale(1.1);
}

footer{
    background: #5D3A8F6B;
    background-size: cover;
    width: auto;
    height: 350px;
    color: aliceblue;


}

.icono{
    width: 10%;
    border-radius: 10px;
    margin: 10px;
    opacity: .8;
    transition: 1s all;
}

.icono:hover{
    transform: scale(1.1);
    
}

.creditos{
    position: absolute;
    top: auto;
    margin: 10px;
    color: aliceblue;
    font-weight: bold;
    font-size: 18px;
    cursor: default;
}

.botones-redes-sociales {
    display: flex;
    justify-content: center;
    margin-top: -61px;
  }
  
  .boton-github, .boton-facebook {
    display: inline-block;
    background-color: #24292e69;
    color: aliceblue;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    transition: 1s all;
  }
  
  .boton-facebook {
    background-color: #3b58987e;
    transition: 1s all;
  }
  
  .boton-github:hover{
    background-color: #333;
    transform: scale(1.1);
  }
  
  .boton-facebook:hover{
    background-color: #3b5898;
    transform: scale(1.1);
  }

.copyright{
    padding: 10px;
    text-align: center;
    cursor: default;
}

/* COntacto*/

.caja-form{
    background: rgba(255, 255, 255, 0.452);
    width: auto;
    display: flex;
    padding: 20px;
}

.contact-form {
    margin: 40px; /* Ajusta el margen según tus necesidades */
    position: relative;
    left: 30%;
    width: 500px;
  }
  
.contact-icon{
    width: 30%;
    height: 30%;
    border-radius: 10px;
    float: right;
    margin: 2% 0 0 0;

}

.input-generico{
    display: block;
    padding: 10px 25px;
    width: 72%;
    border-radius: 5px;
    margin: 0 0 20px;
    opacity: .8;
    border: none;

}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.checkbox {
    margin: 20px 0;
}

.enviar{
    width: 50%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
    background: rgba(128, 0, 128, 0.356);
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: purple;
    transform: scale(1.1);
}

  